<form [formGroup]= "meuForm" (submit)= "onSubmit()" >
  <br>
    <div class="form-group ">
      <label for="exampleInputEmail1">Produto</label>
      <input type="text" class="form-control" formControlName="nome" placeholder="Nome do produto">
    </div>
    <app-mostrar-erros [isError]= "isErrorField('nome')" [mensagem] = "'Nome obrigatório!'" > </app-mostrar-erros>

    <div class="form-group">
      <label for="exampleInputPassword1">Descrição</label>
      <textarea type="text" class="form-control" formControlName = "descricao" placeholder="Descrição da categoria"></textarea>
  </div>
  <app-mostrar-erros [isError]= "isErrorField('descricao')" [mensagem] = "'Descrição obrigatória!'" > </app-mostrar-erros>

  <div class="form-group">
    <label for="exampleInputPassword1">Preço</label>
    <input type="text" class="form-control" formControlName = "preco" placeholder="Preço do produto">
</div>
<app-mostrar-erros [isError]= "isErrorField('preco')" [mensagem] = "'Preço obrigatória!'" > </app-mostrar-erros>

  <div>
    <label for="categoriaProduto">Categoria</label>
    <select class="form-control" formControlName="categoria" id="categoria">
      <option *ngFor="let cat of categoriasBox" [value]="cat.id" >{{ cat.nome }}</option>
    </select>
  </div>

  <app-mostrar-erros [isError]= "isErrorField('categoria')" [mensagem] = "'Categoria obrigatória!'" > </app-mostrar-erros>

  <div class="d-flex justify-content-center p-3">
    <button type="submit" class="btn btn-primary mr-2" >Salvar</button>
    <button type="button" class="btn btn-secondary" [routerLink]= "['/produtos']" >Voltar</button>
  </div>

  </form>
