
<form [formGroup]="meuForm" (submit)="onSubmit()">


  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" class="form-control" formControlName="email" placeholder="Email do Aluno">
  </div>
  <app-mostrar-erros [isError]="isErrorField( 'email' )" [mensagem]="'Email obrigatório'"
    (notificador)="receberNotificacao($event)"
  >
  </app-mostrar-erros>

  <div class="form-group">
    <label >Senha</label>
    <input type="password" class="form-control" formControlName="senha" placeholder="Senha do Aluno">
  </div>
  <app-mostrar-erros [isError]="isErrorField( 'senha' )" [mensagem]="'Senha obrigatório'"
  (notificador)="receberNotificacao($event)"></app-mostrar-erros>

  <button type="submit" [disabled]="meuForm.valid == false" class="btn btn-primary">Logar</button>

</form>
