

<br>

<button class = "btn btn-dark" [routerLink]="['/alunos/form']">
    Cadastrar Aluno
</button>
<br>
<br>

<!-- <button (click) = "meuEvento()"
> Consultar alunos </button>
<br />
<br /> -->

<table class="table" >
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>RA</th>
        <th>Curso</th>
        <th>Operações</th>
    </tr>

    <tr *ngFor="let alun of alunosApi">
        <td>{{ alun?.id }}</td>
        <td>{{ alun?.nome }}</td>
        <td>{{ alun?.ra }}</td>
        <td>{{ alun?.curso }}</td>
        <td><button class="btn btn-dark mr-2" [routerLink]= "['/alunos/form', alun?.id]" routerLinkActive="route" >Editar </button>
            <button class="btn btn-danger" (click)="deletarAluno(alun?.id)">Deletar</button>



        </td>
    </tr>

</table>

<!--
<div class="card" style="width: 18rem;" *ngIf="aluno?.id>0">
    <div class="card-body">
        <h5 class="card-title">Aluno {{ aluno?.id }} </h5>

        <p class="card-text"> Nome : {{ aluno?.nome }} </p>
        <p class="card-text"> RA : {{ aluno?.ra }} </p>
    </div>
</div> -->



