<div class="float-right mb-4 mt-4">
  <a class = "btn btn-dark mb-4" [routerLink]="['/categorias/form']">
      Cadastrar Categoria
  </a>
</div>

<table class="table" >
  <tr>
      <th>Nome</th>
      <th>Descricao</th>
  </tr>

  <tr *ngFor="let cat of categoriaApi">
      <td>{{ cat?.nome }}</td>
      <td>{{ cat?.descricao }}</td>
      <td><button class="btn btn-dark mr-2" [routerLink]= "['/categorias/form', cat?.id]" routerLinkActive="route" >Editar</button>
        <button class="btn btn-danger" (click)="deletarCategoria(cat.id)">Deletar</button>



      </td>
  </tr>

</table>
