<p>home-page works!</p>

<br>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-10" src="" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev blue" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next blue" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class = "card ml-1 mt1 box" style = "width: 18rem; " *ngFor= "let prod of homeApi">

  <div class = "card-body">
    <img src = {{prod?.imagens[0].url}} class = "card-img-top" alt= "">
    <h5 class = "card-tittle">{{prod?.nome}}</h5>
    <p class = "card-text">{{prod.descricao}}</p>
    <p class = "card-text">R$ {{prod.preco}}</p>
    <a hred = "#" class = "btn btn-primary">Comprar</a>
  </div>
</div>


